body {
    background-image: url("../img/bg.jpg");
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logo {
	text-align: center;
	left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 30%;
    width: 100%;
}

.logo > h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 8vw;
}

.main{
    background-color:white;
    border-radius: 5px;
    padding-bottom:10px;
}

.main > h1{
    text-decoration: underline;
    font-family: 
}



#postsubmit{
    margin-top:5px;
    margin-bottom:5px;
    float:right;
}

.blogpost{
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    margin-top:7px;
    margin-bottom:7px;
    border-radius: 5px;
    background-color: #f3efef;
    width: 95%;
}

.profile-content{
    background-color: white;
    padding-bottom:10px;
}

.profile-sidebar{
    background-color: lightgray;
}

.profile-sidebar > img{
    max-width:100%;
    height:auto;
    margin-top: 5%;
}

.profile-page{
    width:90%;
}


table{
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
}

.home-item{
    padding:5%;
}
