body {
    background-image: url("../img/bg.jpg");
    font-family: Georgia, Serif;
}

.navbar{
    font-family: sans-serif;
}

.loginform > h1{
	font-size: 3vw;
}

.signupform > h1{
	font-size: 3vw;
}

#pswd_info {
	background-color: white;
	border-radius:5px;
}

.fa-times {
	color: red;
}

.fa-check {
	color: green;
}